.hidatration-container {
    padding: 2rem;
}

.hidration-content {
    background-color: hsl(226, 44%, 11%);
    border: 1px solid #1f2937;
    border-radius: 10px;
    padding: 1.5rem 1.5rem;

}

.icon-hidration {
    display: flex;
    gap: 5px;
}

.main-hidration {
    margin-top: 1rem;
}
.main-hidration .hidrate-progress{
   background-color: #070813;
    margin-top: 1.5rem;
    border-radius: 20px;
    width: 100%;
    height: 20px;
}

/* .hidrate-progress .progress-fill{

    width: 50%;
    height: 20px ;
    background-color: #1166c7;
    border-radius: 20px;
} */
.main-hidration .cups-box{
    margin-top: 2rem;
    display: flex;
    gap: 10px;
}

.cups-box .cup{
    padding: 1rem;
    background-color: #070813;
    border-radius: 8px;
    width: 60px;
    height: 60px;
    border: 2px solid #1f2937;
    cursor: pointer;
    transition: 0.2s;
}
.cups-box .cup:hover{
  background-color: #1166c7;
}

.main-hidration button{
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: #070813;
    color: #f5f5f5;
    border: 2px solid #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: 0.2s ease-in;
}
.main-hidration button:hover{
    background-color: #071e38;
    outline: 1px solid #1166c7;
}