.Diet-Layout {
    padding: 0 2rem;
}

.Diet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.Diet-header .day-box {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 1.5rem;
}

.day-box .calendar {
    padding: 0.9rem;
    border-radius: 15px;
    border: 2px solid #222b36;
}

.day-box .day {
    font-size: 0.9rem;
    color: #e6e6e6;
}

.action-header {
    display: flex;
}

.action-header button {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 15px;
    padding: 0.5rem 1.2rem;
    border-radius: 7px;
    cursor: pointer;
}

.action-header .Search-food {
    background-color: transparent;
    border: 2px solid #222b36;
    color: #f5f5f5;
}

.action-header .Search-food:hover {
    transition: 0.2s ease-in;
    background-color: #08468d60;
    border: 2px solid #3e75db;
}

.action-header .Create-snack {
    background-color: #21dbf3;
    font-weight: bold;
    border: 1px solid #222b36;
    opacity: 0.9;
}

.action-header .Create-snack:hover {
    opacity: 1;
}

.hidatration-container {
    padding: 2rem;
}

.food-sugestion p {
    margin-bottom: 1rem;
}

/* Seção de pesquisa de alimentos */
.search-container {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 4;

}

.search-container .shadow-search {
    background: radial-gradient(circle, rgba(3, 3, 3, 0.322) 0%, #00000088 100%);
    position: fixed;
    top: 1px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.search-content {
    position: fixed;
    top: 20px;
    right: 50px;
    left: 50px;
    background-color: #070914;
    max-width: 45vw;
    padding: 2rem;
    margin: 0 auto;
    z-index: 3;

}

.search-content .icon-field {
    display: flex;
    justify-content: flex-end;
}

.search-content .btn-exit {

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-content .search-area {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
}

.search-area label {
    margin-bottom: 0.7rem;
    font-size: 1rem;
    font-weight: bold;
}

.search-area input[type="text"]::placeholder {
    color: #cfcfcf;
}

.search-area input[type="text"] {
    max-width: 100%;
    background-color: #070813;
    padding: 0.8rem 1rem;
    outline: none;
    border-radius: 8px;
    border: 1px solid #1f2937;
    color: #fff;
}

.search-area input[type="text"]:hover {
    transition: 0.2s ease-in;
    border: 1px solid #1166c7;
}

.food-sugestion {
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0rem 1.5rem;
}

.food-sugestion .nutri-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(226, 44%, 11%);
    padding: 1.5rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    cursor: pointer;
}

.nutri-card.active {
    background-color: #071e38;
    outline: 1px solid #1166c7;
}

.nutri-card .nutri-name h3 {
    font-size: 1.1rem;
}

.nutri-card .nutri-name p {
    color: #d1d1d1dd;
    font-size: 0.9rem;
}

.form-addNutri {
    position: relative;
    bottom: 160px;
    background-color: #070914;
    width: 100%;
    padding: 2rem 0;
}

.form-addNutri .box-nutri {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box-nutri label {
    font-size: 0.9rem;
    font-weight: bold;
}

.box-nutri input[type="number"] {
    max-width: 100%;
    background-color: #070813;
    padding: 0.6rem 1rem;
    outline: none;
    border-radius: 8px;
    border: 2px solid #1f2937;
    color: #fff;
    margin-bottom: 1rem;
}

.box-nutri input[type="number"]:hover {
    transition: 0.2s ease-in;
    outline: 1px solid #1166c7;

}

.nutri-info {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #ddd;

}

.form-addNutri button {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: #070813;
    color: #f5f5f5;
    border: 2px solid #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: bold;
    transition: 0.2s ease-in;
}

.form-addNutri button:hover {
    background-color: #071e38;
    outline: 1px solid #1166c7;
}

/* CSS hidratação seção */
.hidration-content {
    background-color: hsl(226, 44%, 11%);
    border: 1px solid #1f2937;
    border-radius: 10px;
    padding: 1.5rem 1.5rem;

}

.icon-hidration {
    display: flex;
    gap: 5px;
}

.main-hidration {
    margin-top: 1rem;
}

.main-hidration .hidrate-progress {
    background-color: #070813;
    margin-top: 1.5rem;
    border-radius: 20px;
    width: 100%;
    height: 20px;
}

.hidrate-progress .progress-fill {
    height: 20px;
    background-color: #1166c7;
    border-radius: 20px;
}

.main-hidration .cups-box {
    margin-top: 2rem;
    display: flex;
    gap: 10px;
}

.main-hidration .info-header {
    display: flex;
    justify-content: space-between;
}

.cups-box .cup {
    padding: 1rem;
    background-color: #070813;
    border-radius: 8px;
    width: 60px;
    height: 60px;
    border: 2px solid #1f2937;
    cursor: pointer;
    transition: 0.2s;
}

.cups-box .cup:hover {
    background-color: #1166c7;
}

.cups-box .cup.active {
    background-color: #1166c7;
}

.main-hidration button {
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: #070813;
    color: #f5f5f5;
    border: 2px solid #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: 0.2s ease-in;
}

.main-hidration button:hover {
    background-color: #071e38;
    outline: 1px solid #1166c7;
}

/* Seção de refeições diárias  */
.snack-container {
    background-color: hsl(226, 44%, 11%);
    padding: 2rem;
    max-width: 90vw;
    margin: 1rem auto;
}

.snack-container .title {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.snack-container .title h3 {
    font-size: 1.5rem;
}

.snack-box {
    margin-top: 2rem;
}

.snack-box .snack-card {
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #38475c;
    padding-bottom: 1.2rem;
    cursor: pointer;

}

.snack-box .snack-card .name-snack {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.snack-card .name-snack .name-info {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.name-snack .name-info .icon-coffe {
    background: hsla(213, 93%, 58%, 0.2);
    padding: 1rem;
    border-radius: 15px;
    max-height: 60px;
}

.name-snack .kcal-info .kcal {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.name-snack .kcal-info p {
    font-size: 0.9rem;
    color: #dddd;
}

.name-snack .kcal-info .kcal p {
    font-weight: bold;
    font-size: 1rem;
}

.snack-nutrients {
    margin-top: 2rem;
}

.snack-nutrients .nutrient-box {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.nutrient-box .nutrient-card {
    display: flex;
    justify-content: space-between;
    background-color: #070813;
    border-radius: 12px;
    border: 1px solid #232f3f;
    padding: 1rem 1.5rem;
    max-width: 100%;
}

.nutrient-card .info-box {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.info-nutrient .kcal-nutri {
    font-size: 1rem;
    font-weight: bold;
}

.info-nutrient .macro-info {
    font-size: 0.8rem;
}

.info-box .action-buttons {
    display: flex;
    gap: 0.8rem;
}

.info-box .action-buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

 .add-nutrient {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.9rem;
    gap: 0.5rem;
    background-color: #070813;
    color: #fff;
    width: 100%;
    margin-top: 2rem;
    padding: 0.6rem 0.5rem;
    border: 2px solid #232f3f;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

 .add-nutrient:hover {
    transition: 0.2s ease-in;
    background-color: #071e38;
    outline: 1px solid #1166c7;
}