.main-dashboard {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2.5rem;
    width: 100%;
    padding: 1rem 1rem;
}

.title-main {
    text-align: center;
    margin-top: 2rem;
}

.title-main h2 {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
}

.main-dashboard .action-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

}

.card-section {
    background-color: hsl(226, 44%, 11%);
    padding: 1.5rem;
    cursor: pointer;

}