.main-dashboard{
    padding-top: 1.5rem 1.5rem;
}

.title-main{
    text-align: center;
    margin-top: 2rem;
}
.title-main h2{
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
}
.main-dashboard .action-card{

display: flex;
justify-content: center;
gap: 10px;
padding: 2rem;

}
.card-section{
    background-color: hsl(226, 44%, 11%);
    padding: 1.5rem;
    cursor: pointer;

}