.plan-progress-header {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    gap: 1rem;
}

.plan-progress-header .btn-progress {
    padding: 0.6rem 1.3rem;
    border: none;
    background-color: #020611;
    color: #f5f5f5;
    border: 1px solid #1f2937;
    font-weight: 600;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
}

.btn-progress:hover {
    background-color: #071e38;
    outline: 1px solid #1166c7;
    transition: 0.2s ease-in;
}

.nutricional-box {
    background-color: hsl(226, 44%, 11%);
    border: 1px solid #1f2937;
    border-radius: 15px;
    padding: 2rem 2rem;
    margin: 2rem 2rem;
}

.nutricional-box h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}


.kcal-box {
    margin-bottom: 2rem;
}

.kcal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.7rem;
}

.kcal-header .subtitle {
    font-size: 1rem;
    font-weight: 600;
}

.kcal-header p {
    font-size: 0.95rem;
    font-weight: 500;
    color: #e5e7eb;
}

.kcal-graph {
    width: 100%;
    height: 0.7rem;
    background-color: #020611;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #1f2937;
}

.kcal-fill {
    height: 100%;
    background: linear-gradient(90deg, #2563eb, #3b82f6);
    border-radius: 20px;
}

/* ===== MACROS ===== */

.other-nutris {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.info-nutri-box {
    flex: 1;
}

.info-nutri-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.info-nutri-header p {
    font-size: 0.95rem;
    font-weight: 600;
    color: #f5f5f5;
}

.info-nutri-graph {
    width: 100%;
    height: 0.5rem;
    background-color: #020611;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #1f2937;
}

.info-nutri-fill {
    height: 100%;
    background: linear-gradient(90deg, #2563eb, #3b82f6);

    border-radius: 20px;
}

.gramas-final {
    margin-top: 0.4rem;
    font-size: 0.8rem;
    color: #9ca3af;
}