.box-login {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #0a0e1a;
    border: 1px solid #1f2937;
    padding: 3rem;
    border-radius: 10px;
}

.box-login h2 {
    color: #2395ff;
    margin-bottom: 2rem;
    text-align: center;
}

.box-login form .form-control {
    display: flex;
    flex-direction: column;
    margin-top: 0.9rem;
}

.box-login form .form-control label {
    margin-bottom: 5px;
    font-weight: 500;
    color: #dddddd;
    font-size: 0.94rem;
}


.box-login form input[type="text"],
input[type="email"],
input[type="password"] {
    background-color: #111111;
    padding: 0.7rem;
    border: none;
    outline: none;
    color: #ffff;
    border-radius: 10px;
    border: 1px solid #1f2937;

}

.box-login form input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: #dddddd;
}

.box-login form .button-form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    margin-top: 1.5rem;
    padding: 0.8rem;
    cursor: pointer;
    background-color: #084fd1;
    color: #f5f5f5f5;
    font-weight: 600;
    border: none;
    border-radius: 7px;
    opacity: 0.9;
    font-size: 14px;
}

.box-login form .button-form:hover {
    transition: 0.2s ease-in;
    opacity: 1;
}
.box-create-account{
    margin-top: 1rem;
    text-align: center;
}
.box-create-account p{
    font-size: 12px;
}
.box-create-account .button-account{
    margin-top: 1rem;
    background-color: #09eeb5;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.9;
}
.box-create-account .button-account:hover{
    transition: 0.2s ease-in;
    opacity: 1;
}